body {
  background-color: rgb(255, 255, 255);
  font: normal 0.75em/1.38 TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia;
  color: rgb(0, 0, 0);
}

.container {
  position: relative;
  float: left;
  z-index: 2;
  width: 61.2142857142%;
  height: 515px;
  margin: 98px 0 0 16%;
  border: 4px solid #fff54f;
}

.element {
  position: relative;
  float: left;
  z-index: 14;
  width: 15.2142857142%;
  height: 12px;
  margin: -69px 0 0 16%;
  background-color: rgb(255, 245, 79);
}

.image {
  display: block;
  height: auto;
  overflow: hidden;
}

.text {
  position: relative;
  float: left;
}

.text-10 p {
  margin-bottom: 1em;
}

._button {
  display: block;
  float: left;
  height: 37px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0);
  font-size: 2.167em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.image-1 {
  float: left;
  width: 165px;
  margin: -39px 0 0 -4.77952%;
}

.image-2 {
  float: right;
  clear: both;
  width: 65px;
  margin: -54px -3.4010600001% 0 0;
}

.image-3 {
  position: relative;
  float: left;
  clear: both;
  z-index: 13;
  width: 593px;
  margin: -568px 0 0 47.71429%;
}

.text-1 {
  clear: both;
  z-index: 3;
  width: 46%;
  min-height: 223px;
  margin: -459px 0 0 22%;
  font: 11em/0.9 TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia;
  color: rgba(0, 0, 0, 0.15);
  word-break: normal;
}

.text-10 {
  z-index: 16;
  width: 40%;
  min-height: 124px;
  margin: 52px 0 0 16%;
  font-size: 1em;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

.text-2 {
  z-index: 4;
  min-height: 24px;
  margin: -392px 0 0 22.78237%;
  font: 1.833em/1.48 TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.text-3 {
  z-index: 6;
  width: 8.7857142857%;
  min-height: 38px;
  margin: -415px 0 0 22.7846%;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia;
  font-weight: bold;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-4 {
  z-index: 8;
  min-height: 24px;
  margin: -360px 0 0 22.79911%;
  font: 1.833em/1.48 TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.text-5 {
  z-index: 9;
  min-height: 24px;
  margin: -328px 0 0 22.78237%;
  font: 1.833em/1.48 TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.text-6 {
  z-index: 10;
  min-height: 24px;
  margin: -296px 0 0 22.78237%;
  font: 1.833em/1.48 TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.text-7 {
  z-index: 11;
  min-height: 24px;
  margin: -264px 0 0 22.78237%;
  font: 1.833em/1.48 TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.text-8 {
  z-index: 12;
  min-height: 24px;
  margin: -232px 0 0 22.78237%;
  font: 1.833em/1.48 TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.text-2:hover,
.text-4:hover,
.text-5:hover,
.text-6:hover,
.text-7:hover,
.text-8:hover {
  background-color: rgb(255, 245, 79);
}

.text-9 {
  z-index: 7;
  width: 271px;
  height: 18px;
  margin: -107px 0 0 10%;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia;
  font-size: 1em;
  color: rgb(0, 0, 0);
  overflow: hidden;
  word-wrap: normal;
}

._button-1 {
  width: 13.5714285714%;
  margin: -82px 0 0 22.0580399999%;
  font-family: SFProText-Heavy;
}

._button-2 {
  position: relative;
  z-index: 15;
  margin: -89px 0 0 22%;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia;
  font-weight: bold;
}

._button-2:hover {
  background-color: rgb(255, 245, 79);
}

@media(max-width: 800px) {
  .container {
    position: relative;
    z-index: 2;
  }

  .container .image {
    height: auto;
  }

  .element {
    position: relative;
    z-index: 14;
    width: 218px;
  }

  .image {
    height: auto;
  }

  .text {
    position: relative;
  }

  .image-3 {
    position: relative;
    z-index: 13;
    width: 461px;
    margin-top: -410px;
    margin-left: 44%;
  }

  .text-1 {
    z-index: 3;
    margin-top: -466px;
  }

  .text-10 {
    z-index: 16;
  }

  .text-2 {
    z-index: 4;
    margin-top: -394px;
    margin-left: 22.75%;
  }

  .text-3 {
    z-index: 6;
    width: 12.75%;
    margin-top: -418px;
    margin-left: 22.79883%;
  }

  .text-4 {
    z-index: 8;
    margin-top: -362px;
    margin-left: 22.75%;
  }

  .text-5 {
    z-index: 9;
    margin-top: -330px;
    margin-left: 22.79883%;
  }

  .text-6 {
    z-index: 10;
    margin-top: -298px;
    margin-left: 22.79883%;
  }

  .text-7 {
    z-index: 11;
    margin-top: -266px;
    margin-left: 22.75%;
  }

  .text-8 {
    z-index: 12;
    margin-top: -234px;
    margin-left: 22.79883%;
  }

  .text-9 {
    z-index: 7;
    margin-top: -106px;
  }

  ._button-1 {
    width: 27.125%;
    margin-left: 38.59961%;
  }

  ._button-2 {
    position: relative;
    z-index: 15;
    margin-top: -90px;
    margin-left: 22.79883%;
  }
}

@media(max-width: 380px) {
  body {
    font-size: 0.75em;
  }

  .container {
    position: relative;
    z-index: 2;
    width: 69.4736842105%;
    height: 524px;
    margin-top: 50px;
    margin-left: 15.26316%;
  }

  .container .image {
    height: auto;
  }

  .element {
    position: relative;
    z-index: 14;
    width: 43.947368421%;
    margin-top: -41px;
    margin-left: 0;
  }

  .image {
    height: auto;
    margin-top: -471px;
  }

  .text {
    position: relative;
  }

  .container .image-1 {
    margin-top: -38px;
    margin-left: -17.85625%;
  }

  .container .image-2 {
    width: 45px;
    margin-top: -45px;
    margin-right: -9.75%;
  }

  .image-3 {
    position: relative;
    z-index: 13;
    width: 387px;
    margin-left: 19.46135%;
  }

  .text-1 {
    z-index: 3;
    width: 304px;
    margin-top: -468px;
    margin-left: 10%;
    font-size: 8.833em;
    word-break: break-all;
  }

  .text-10 {
    z-index: 16;
    width: 55%;
    margin-left: 16.04852%;
  }

  .text-2 {
    z-index: 4;
    margin-top: -415px;
    margin-left: 10%;
  }

  .text-3 {
    z-index: 6;
    width: 33.1578947368%;
    margin-top: -439px;
    margin-left: 10%;
  }

  .text-4 {
    z-index: 8;
    margin-top: -383px;
    margin-left: 10%;
  }

  .text-5 {
    z-index: 9;
    margin-top: -351px;
    margin-left: 10%;
  }

  .text-6 {
    z-index: 10;
    margin-top: -319px;
    margin-left: 10%;
  }

  .text-7 {
    z-index: 11;
    margin-top: -287px;
    margin-left: 10%;
  }

  .text-8 {
    z-index: 12;
    margin-top: -255px;
    margin-left: 10%;
  }

  .text-9 {
    z-index: 7;
    margin-top: -95px;
  }

  ._button-1 {
    width: 33.947368421%;
    margin-top: -121px;
    margin-left: 81.26645%;
    font-size: 1.333em;
  }

  ._button-2 {
    position: relative;
    z-index: 15;
    margin-top: -61px;
    margin-left: 21.99836%;
    font-size: 2.083em;
  }
}
