body {
  background-color: rgb(255, 255, 255);
  font: normal 1.375em/0.48 SFProText-Bold;
  color: rgb(0, 0, 0);
}

.container {
  position: relative;
  float: left;
  z-index: 2;
  width: 61.2142857142%;
  height: 515px;
  margin: 98px 0 0 16%;
  border: 4px solid #fff54f;
}

.element {
  position: relative;
  float: left;
  z-index: 6;
  width: 15.2142857142%;
  height: 12px;
  margin: -64px 0 0 15.19978%;
  background-color: rgb(255, 245, 79);
}

.image {
  display: block;
  height: auto;
  overflow: hidden;
}

.text {
  position: relative;
  float: left;
}

.text-2 p {
  margin-bottom: 1em;
}

._button {
  display: block;
  float: left;
  height: 37px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0);
  font: 1.182em/1.38 SFProText-Heavy;
  text-align: center;
  color: rgb(0, 0, 0);
}

.image-1 {
  float: left;
  width: 165px;
  margin: -39px 0 0 -4.77952%;
}

.image-2 {
  float: right;
  clear: both;
  width: 65px;
  margin: -54px -3.4010600001% 0 0;
}

.text-1 {
  clear: both;
  z-index: 3;
  width: 46%;
  min-height: 223px;
  margin: -459px 0 0 22%;
  font-size: 6em;
  line-height: 0.9;
  color: rgba(0, 0, 0, 0.15);
  word-break: normal;
}

.text-2 {
  z-index: 4;
  width: 465px;
  min-height: 48px;
  margin: -384px 0 0 22.78237%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-3 {
  z-index: 8;
  width: 8.7857142857%;
  min-height: 38px;
  margin: -415px 0 0 22.7846%;
  font-size: 0.545em;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.text-4 {
  z-index: 9;
  width: 286px;
  min-height: 80px;
  margin: -194px 0 0 15.2%;
  font: 0.545em/1.38 SFProText-Light;
  color: rgb(0, 0, 0);
}

._button-1 {
  width: 13.5714285714%;
  margin: -82px 0 0 22.0580399999%;
}

._button-2 {
  position: relative;
  z-index: 7;
  margin: -89px 0 0 22.05692%;
}

@media(max-width: 800px) {
  .container {
    position: relative;
    z-index: 2;
  }

  .container .image {
    height: auto;
  }

  .element {
    position: relative;
    z-index: 6;
    width: 27.25%;
    margin-left: 10%;
  }

  .text {
    position: relative;
  }

  .text-1 {
    z-index: 3;
    margin-top: -466px;
  }

  .text-2 {
    z-index: 4;
    width: 266px;
    margin-top: -394px;
    margin-left: 22.75%;
  }

  .text-3 {
    z-index: 8;
    width: 12.75%;
    margin-top: -418px;
    margin-left: 22.79883%;
  }

  .text-4 {
    z-index: 9;
    width: 285px;
    margin-top: -207px;
    margin-left: 14.375%;
  }

  ._button-1 {
    width: 27.125%;
    margin-left: 38.59961%;
  }

  ._button-2 {
    position: relative;
    z-index: 7;
    margin-left: 22%;
  }
}

@media(max-width: 380px) {
  body {
    font-size: 1.375em;
  }

  .container {
    position: relative;
    z-index: 2;
    width: 69.4736842105%;
    height: 524px;
    margin-top: 50px;
    margin-left: 15.26316%;
  }

  .container .image {
    height: auto;
  }

  .element {
    position: relative;
    z-index: 6;
    width: 37.1052631578%;
    margin-top: -65px;
    margin-left: 0;
  }

  .text {
    position: relative;
  }

  ._button {
    font-size: 0.727em;
  }

  .container .image-1 {
    margin-top: -38px;
    margin-left: -17.85625%;
  }

  .container .image-2 {
    width: 45px;
    margin-top: -45px;
    margin-right: -9.75%;
  }

  .text-1 {
    z-index: 3;
    width: 304px;
    margin-top: -468px;
    margin-left: 10%;
    font-size: 4.818em;
    word-break: break-all;
  }

  .text-2 {
    z-index: 4;
    width: 296px;
    margin-top: -415px;
    margin-left: 22.10115%;
  }

  .text-3 {
    z-index: 8;
    width: 28.6842105263%;
    margin-top: -439px;
    margin-left: 22.10115%;
  }

  .text-4 {
    z-index: 9;
    width: 149px;
    margin-top: -148px;
    margin-left: 10%;
  }

  ._button-1 {
    width: 33.947368421%;
    margin-top: -121px;
    margin-left: 81.26645%;
  }

  ._button-2 {
    position: relative;
    z-index: 7;
    margin-top: -85px;
    margin-left: 16.79688%;
  }
}
